body
{
	margin: 0;
	padding: 0;
	background: url("../images/ireport.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: sans-serif;
	background-color: #7f99c1;
}

.container {
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 0 20px;
    }
}
.logo {
    align-self: center;
}
h1{
	font-size: 90px;
	font-weight: bolder;
	color: #e59304;
	overflow: hidden;
	
}



.loginBox
{
	position: absolute;
	top: 50%;
	left: 80%;
	transform: translate(-50%,-50%);
	width: 320px;
	height: 400px;
	padding: 80px 40px;
	box-sizing: border-box;
	border-radius: 10px;
	background: rgba(0,0,0,.7);
}

h2
{
	margin: 0;
	padding: 0 0 20px;
	color: #e59304;
	text-align: center;
}
.loginBox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #e8e3dc;
}
.loginBox input
{
	width: 100%;
	margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #e8e3dc;
	font-size: 16px;
}
::placeholder
{
	color: rgba(255,255,255,.2);
}
.loginBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #0f0a4c;
	font-size: 16px;
	background: #ff267e;
	cursor: pointer;
	border-radius: 20px;
}
.loginBox input[type="submit"]:hover
{
	background: #000000;
	color: #e8e3dc;
}
.loginBox a
{
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
h3{
	color:#e59304; 
}
.sign
{
	position: absolute;
	top: 50%;
	left: 80%;
	transform: translate(-50%,-50%);
	width: 320px;
	height: 500px;
	padding: 80px 40px;
	box-sizing: border-box;
	border-radius: 10px;
	background: rgba(0,0,0,.7);
}
.sign p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #e8e3dc;
}
.sign input
{
	width: 100%;
	margin-bottom: 20px;
}
.sign input[type="text"],
.sign input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #e8e3dc;
	font-size: 16px;
}
::placeholder
{
	color: rgba(255,255,255,.2);
}
.sign input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #0f0a4c;
	font-size: 16px;
	background: #ff267e;
	cursor: pointer;
	border-radius: 20px;
}
.sign input[type="submit"]:hover
{
	background: #000000;
	color: #e8e3dc;
}
.sign a
{
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
.signUp{
	margin-top: 20px;
	position: relative;
	color: #61789b;
}